<div>
<!--  <div class="sticky-header">-->
<!--    <div class="row align-items-center header-content">-->
<!--      <div class="interaction-space">-->
<!--        <span class="main-heading">HARBOUR.SPACE <span class="sub-heading">/Interaction Design</span></span>-->

<!--        <button mat-icon-button (click)="toggleSound()" class="sound">-->
<!--          <mat-icon>{{ soundOn ? 'volume_up' : 'volume_off' }}</mat-icon>-->
<!--        </button>-->

<!--        <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon button">-->
<!--          <mat-icon class="menu-icon">menu</mat-icon>-->
<!--        </button>-->
<!--        <mat-menu #menu="matMenu">-->
<!--          <button mat-menu-item (click)="navigateCoursePage()">-->
<!--            <mat-icon>dialpad</mat-icon>-->
<!--            <span>Redial</span>-->
<!--          </button>-->
<!--          <button mat-menu-item disabled>-->
<!--            <mat-icon>voicemail</mat-icon>-->
<!--            <span>Check voice mail</span>-->
<!--          </button>-->
<!--          <button mat-menu-item>-->
<!--            <mat-icon>notifications_off</mat-icon>-->
<!--            <span>Disable alerts</span>-->
<!--          </button>-->
<!--        </mat-menu>-->
<!--      </div>-->

<!--      <div class="apply">-->
<!--        <button class="apply-button">-->
<!--          <span class="apply-text">Apply</span><br>-->
<!--          <span class="now-text">Now</span>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="sticky-header">
    <div class="container">
      <div class="row align-items-center header-content">
        <div class="col-md-8 interaction-space">
          <span class="main-heading">HARBOUR.SPACE <span class="sub-heading">/Interaction Design</span></span>

          <button mat-icon-button (click)="toggleSound()" class="sound">
            <mat-icon>{{ soundOn ? 'volume_up' : 'volume_off' }}</mat-icon>
          </button>

          <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Icon button">
            <mat-icon class="menu-icon">menu</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="navigateCoursePage()">
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </mat-menu>
        </div>

        <div class="col-md-4 apply">
          <button class="apply-button">
            <span class="apply-text">Apply</span><br>
            <span class="now-text">Now</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div class="title">Interaction Design Apprenticeship</div>
        <div class="design-logo">
          <img src="./assets/images/design-logo.png" width="206px" height="206px"/>
        </div>
        <div class="work-study-program">A fully funded work-study program to launch your tech career.</div>
        <p class="partnered-text">Harbour.Space has partnered with SCG to empower driven talent and eliminate the
          barriers to accessing exceptional education and career opportunities through a Masters Fellowship.</p>
        <span class="position-text">Position: <span>Marketing Performance</span></span>
        <button class="rounded-pill" id="apply-now-btn">Apply now</button>
      </div>

      <div class="col">
        <div class="row align-items-center">

          <div class="col-auto">
            <img src="./assets/images/img.png" width="80px" height="80px"/>
          </div>

          <div class="col">
            <span class="powered-by">Powered by:</span>
            <span class="zeptolab">Zeptolab</span>
          </div>
        </div>

        <div class="application-section">
          <span class="d-block application-closes-in">Application closes in</span>
          <span class="countdown">6 Day  :  22 Hrs  :  56 Min  :  13 Seg </span>
        </div>

        <div class="rectangle-section">
          <div class="row">
            <div class="col">
              <span class="location-text">Location:</span>
              <span class="duration-label">Duration:</span>
            </div>
          </div>

          <div class="row">
            <span class="bangkok-text">Bangkok</span>
            <span class="duration-value">1 Year Full-Time</span>
          </div>

          <div class="row">
            <div class="col">
              <span class="date-text start-date">Start Date:</span>
              <span class="date-text end-date">End Date:</span>
            </div>
          </div>
          <div class="row">
            <span class="startDate-text">30 June 2020</span>
            <span class="endDate-Text">3 Aug 2020</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row custom-row">
      <div class="person-image-container">
        <img src="./assets/images/bg-person.png" width="438px" height="438px"/>
      </div>


      <div class="col">
        <div class="person-container">
          <img src="./assets/images/person-avatar.png" width="380px" height="380px"/>
        </div>
        <h3 class="about-apprenticeship-heading">About the apprenticeship</h3>
        <p class="marketing-programs">Our scholarships are designed to give talented and driven young people from any
          background access to top-class education, experience and network. We offer a fully-funded master’s degree
          alongside an apprenticeship and a guaranteed job upon graduation.</p>
      </div>

    </div>

    <div>
      <div class="custom-container program-value-section">
        <div class="custom-layout">
          <div class="custom-layout-2">
            <br><br>
            <span class="value-label">Scholarship value</span>
            <br><br>
            <span class="value-amount">€31,300</span>
          </div>
        </div>
        <hr class="custom-divider-1">
        <div class="row">
          <div>
            <span class="tuition-covered">Tuition covered</span>
            <span class="detail-1">€20,900</span>
          </div>
          <div class="col">
            <span class="remain">Remaining</span>
            <span class="detail-2">€2,000</span>
          </div>
        </div>
        <span class="living-stipped">Living stipend</span>
        <span class="detail-3">€8,400 (€700/month)</span>
      </div>

      <div>
        <div>
          <div class="study-commitment-section">
            <span class="detail-label">Study commitment</span>
            <br>
            <span class="detail">3 hours/day</span>
            <hr class="custom-divider-inside">
            <span class="detail-description">
              You will complete 15 modules to graduate. Daily classes are 3 hours, plus coursework to complete in your own time.
            </span>
          </div>
          <div class="work-commitment-section">
            <span class="detail-label">Work commitment</span>
            <br>
            <span class="detail">4 hours/day</span>
            <hr class="custom-divider-inside">
            <span class="detail-description">
              Immerse yourself in the professional world during your apprenticeship. You’ll learn the ropes from the best and get to apply your newly acquired knowledge in the field from day one.
            </span>
          </div>
        </div>
        <div class="custom-graduation-section">
          <hr class="custom-divider-graduation">
          <span class="graduation-text">GRADUATION</span>
          <hr class="custom-divider-graduation">
        </div>

        <div class="full-time-contract-section">
          <span class="detail-label">A full-time contract</span>
          <span class="detail-4">1 Year / Full-Time</span>
          <hr class="custom-divider-inside-2">
          <span class="detail-description-2">You’ll be guaranteed a 1 year contract with SCG upon graduation.</span>
        </div>
      </div>
    </div>

    <div class="bg-animation-container">
      <img src="./assets/images/background-animation.jpeg" width="1120px" height="394.07px"/>
    </div>

    <div class="main-container">
      <div class="row-container d-inline-flex" id="cardContainer">
        <div class="card border rounded" *ngFor="let index of [].constructor(5)">
          <div class="row align-items-center card-content">
            <div class="col">
              <img src="./assets/images/girl.jpeg" width="80px" height="78.62px" class="avatar">
              <span class="name">Irene Pereyra</span>
              <br>
              <span class="role">Interaction Design Fellow ‘19</span>
            </div>
            <div class="col-auto">
              <mat-icon>poll icon</mat-icon>
            </div>
          </div>
          <div class="additional-content">
            <div class="additional-content-content">
              <span class="additional-content-description">
                This Fellowship was a turning point in my career. I wouldn’t be where I am today without the financial support and experienced offered through the program.
              </span><br><br>
              <span class="education">Education · B.A. Visual Design</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="test">
      <div class="title-question-container">
        <div>
          <span class="title-question">Frequently asked questions</span>
          <span class="filter-by">Filter by:</span>
          <mat-form-field appearance="outline" class="custom-mat-field">
            <mat-select [(ngModel)]="selectedValue" name="food" placeholder="Program conditions">
              <mat-option *ngFor="let food of foods" [value]="food.value">
                {{ food.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-divider class="mt-4 mb-4"></mat-divider>

        </div>
      </div>
    </div>


    <div class="content-container">
      <div class="row justify-content-between border-bottom">
        <div class="col-auto">
          <span class="section-title">Program conditions</span>
          <span class="question">What are my obligations?</span>
        </div>
      </div>
      <div class="row justify-content-between border-bottom">
        <div class="col-auto">
          <span class="section-title-2">Program conditions</span>
          <span class="question - 2">What are my obligations?</span>
        </div>
      </div>
    </div>
    <div class="col">

      <div class="col-auto">
        <div class="add">
          <button mat-icon-button (click)="onExpand()" class="rounded-pill">
            <mat-icon>{{ expanded ? 'remove' : 'add' }}</mat-icon>
          </button>
        </div>
      </div>

      <div *ngIf="expanded">
        <p class="answer">
          The majority of our students receive numerous job offers at the end of the second academic year of their
          Bachelor's programme and at the end of the first academic year of their Master's programme. The best
          applicants receive an offer from our industrial partners at the beginning of their programmes.
          Harbour.Space is highly recognized among innovative employers and is strategic partner of B.Grimm multi-
          industry corporation with 140 years of history in Thailand. Together we insure students get the best knowledge
          about the current job market opportunities.
          We offer our students paid internships options during studies jointly with our industrial partners.
          Employers that hired graduates of Harbour.Space in the past include Google, IBM, Accenture, Typeform, Frog,
          and other tech centric companies. Our industry specific employability report could be provided to you
          separately during the admission process.
        </p>
      </div>
    </div>

  </div>

  <div class="bottom-sticky-bar">
    <div class="bottom-zeptolab-text">Zeptolab</div>
    <div class="bottom-marketing-performance-text">Marketing Performance</div>
    <div class="bottom-location-text">Location</div>
    <div class="bottom-Bangkok-text">Bangkok</div>
    <div class="bottom-duration-text">Duration</div>
    <div class="bottom-full-time-text">1 Year Full-Time</div>
    <div class="bottom-start-date-text">Start date</div>
    <div class="bottom-date-text">3 Aug 2020</div>
    <div class="bottom-deadline-text">Application deadline</div>
    <div class="bottom-deadline-date-text">30 June 2020</div>
    <div class="bottom-closes-in-text">Application closes in</div>
    <div class="bottom-time-remaining-text">6 Day : 22 Hrs : 56 Min</div>
  </div>

</div>
