<!--<h1>Heyyyyyyyyyy</h1>-->
<!--<div *ngIf="courseModuleData">-->
<!--  <h2>{{ courseModuleData.scholarship.name }}</h2>-->
<!--  <p>{{ courseModuleData.scholarship.description[0].data }}</p>-->
<!--  <h3>Location: {{ courseModuleData.scholarship.location.name }}</h3>-->
<!--  <p>Tuition: ${{ courseModuleData.scholarship.tuition }}</p>-->
<!--  <p>Total Value: ${{ courseModuleData.scholarship.total_value }}</p>-->
<!--  <p>Stipend per Month: ${{ courseModuleData.scholarship.stipend_per_month }}</p>-->
<!--  <p>Stipend per Year: ${{ courseModuleData.scholarship.stipend_per_year }}</p>-->
<!--  <p>Remaining: {{ courseModuleData.scholarship.remaining }}</p>-->
<!--  <p>Study Commitment: {{ courseModuleData.scholarship.study_commitment }}</p>-->
<!--  <p>Internship Commitment: {{ courseModuleData.scholarship.internship_commitment }}</p>-->
<!--  <p>Credits: {{ courseModuleData.scholarship.credits }}</p>-->
<!--  <p>Courses: {{ courseModuleData.scholarship.courses }}</p>-->
<!--  <p>Degree: {{ courseModuleData.scholarship.degree }}</p>-->
<!--  <h3>About</h3>-->
<!--  <p>{{ courseModuleData.scholarship.about[0].data }}</p>-->
<!--  <h3>What You Will Learn</h3>-->
<!--  <ul>-->
<!--    <li *ngFor="let item of courseModuleData.scholarship.what_you_will_learn">-->
<!--      <h4>{{ item.title }}</h4>-->
<!--      <p>{{ item.data }}</p>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<button (click)="playSound()">Play Sound</button>
<button (click)="stopSound()">Stop Sound</button>

