<div class="container">

  <div class="loading-container" *ngIf="isLoading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>

  <h1>View Post</h1>

  <div class="button d-flex justify-content-end">
    <button (click)="Back()" mat-flat-button color="primary">Back</button>
  </div>

  <div *ngIf="courseModuleData">
    <div class="info-wrap">
      <mat-label><strong>Scholarship Name : </strong></mat-label>
      <p>{{ courseModuleData.scholarship.name }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Description : </strong></mat-label>
      <p>{{ courseModuleData.scholarship.description?.[0].data }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Total Value : </strong></mat-label>
      <p>{{ courseModuleData.scholarship.total_value }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Stipend Per Month : </strong></mat-label>
      <p>{{ courseModuleData.scholarship.stipend_per_month }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Stipend Per Year : </strong></mat-label>
      <p>{{ courseModuleData.scholarship.stipend_per_year }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Remaining : </strong></mat-label>
      <p>{{ courseModuleData.scholarship.remaining }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Study Commitment: </strong></mat-label>
      <p>{{ courseModuleData.scholarship.study_commitment }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Internship Commitment: </strong></mat-label>
      <p>{{ courseModuleData.scholarship.internship_commitment }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Credits: </strong></mat-label>
      <p>{{ courseModuleData.scholarship.credits }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Credits: </strong></mat-label>
      <p>{{ courseModuleData.scholarship.credits }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Courses: </strong></mat-label>
      <p>{{ courseModuleData.scholarship.courses }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Degree: </strong></mat-label>
      <p>{{ courseModuleData.scholarship.degree }}</p>
    </div>

    <div class="info-wrap">
      <mat-label><strong>Scholarship Data: </strong></mat-label>
      <p>{{ courseModuleData.scholarship.about[0].data }}</p>
    </div>

    <div class="info-wrap">
      <h3>What You Will Learn</h3>
    </div>

    <ul>
      <li *ngFor="let item of courseModuleData.scholarship.what_you_will_learn">
        <h4>{{ item.title }}</h4>
        <p>{{ item.data }}</p>
      </li>
    </ul>

  </div>
</div>
